
.cardItm {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: #11111a0d 0 1px, #11111a1a 0 0 8px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    transition: border 0.2s;
  }
  
  .cardItm.active {
    border: 2px solid blue;
  }
  
  .corner-badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    background-color: #d32f2f; /* default red for required */
    border-bottom-left-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
  }
  
  .corner-badge.optional {
    background-color: #1976d2; /* blue for optional */
  }
  